<style>
  body {
    background-color: #f8f9fa;
  }

  .container {
    height: 50vh;
  }

  .verification-form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
  }

  .form-control {
    border-color: #ddd;
    border-radius: 8px;
    padding: 12px;
    box-shadow: none;
  }

  .form-control:focus {
    box-shadow: none;
    border-color: #ffffff;
  }

  .btn-primary {
    background-color: #4e8bff;
    border-color: #4e8bff;
  }

  .btn-primary:hover {
    background-color: #407bd6;
    border-color: #407bd6;
  }

  .mobile-text {
    font-size: 14px;
  }

  .resend-text {
    font-size: 14px;
    margin-top: 10px;
  }


  button {
    font-family: inherit;
    font-size: 20px;
    background: royalblue;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
  }

  button span {
    display: block;
    margin-left: 0.4em;
    transition: all 0.3s ease-in-out;
  }

  button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }

  button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }

  button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
  }

  button:hover span {
    transform: translateX(5em);
  }

  button:active {
    transform: scale(0.95);
  }

  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }

    to {
      transform: translateY(-0.1em);
    }
  }
</style>

<div class="container">
  <div class="page-header mt-20">
    <div class="breadcrumb">
      <a href="/user-login" rel="nofollow">Login</a>
      <span></span> Verification
    </div>
  </div>
  <div class="col d-flex align-items-center justify-content-center mt-50">
    <div class="col-4  verification-form">
      <form method="post" action="/verification-page">
        <div class=" py-5 px-3">
          <h5 class="m-0">Mobile Phone Verification</h5>
          <span class="mobile-text">Enter the code we just sent to your mobile phone </span>
          <div class="d-flex flex-row mt-2">
            <input type="number" name="code" class="form-control" maxlength="4" required>
          </div>
          <div>
            <div id="resendOtp" class="text-dark mt-3">
            </div>

            <div id="resendButton" style="display: none;">
              <span class="d-block mobile-text">Didn't receive the code?</span>
              <a href="/resend-otp" class="resend-text">Resend OTP</a>
            </div>
          </div>
          <div class="d-flex justify-content-center mt-3">
            {{!-- <input type="submit" value="Submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;"> --}}
            <button type="submit">
              <div class="svg-wrapper-1"> 
                <div class="svg-wrapper">
                  <svg height="14" width="14" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path
                      d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"
                      fill="currentColor"></path>
                  </svg>
                </div>
              </div>
              <span class="font-sm">Send</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<script>
  let timeLeft = 20;
  var timer = document.getElementById('resendOtp')
  var timeId = setInterval(countdown, 1000);

  function countdown() {
    if (timeLeft == -1) {
      clearTimeout(timeId);
      working();
    } else {
      timer.innerHTML = timeLeft + 'seconds remaining';
      timeLeft--
    }
  }

  function working() {
    timer.style.display = 'none'
    var showresendotp = document.getElementById('resendButton')
    showresendotp.style.display = 'block'
  }
</script>