
<body>
    <div class="container">

    <div class="col d-flex align-items-center justify-content-center mt-150 ">
        <div class="col-4 p-30 border">
            <form method="post">
                <div class="form-outline mt-3 mb-4">
                    <input type="number" name="phoneNumber" id="form3Example3" class="form-control form-control-lg"
                        placeholder="Enter a valid Mobile Number" />
                    {{!-- <input type="text" name="userId" value="{{userId}}" hidden> --}}
                    <label class="form-label" for="form3Example3">Enter Mobile Number</label>
                </div>
                <div class="text-center text-lg-start mt-4 pt-2">

                    <input type="submit" value="Send OTP" class="btn btn-primary btn-lg"
                        style="padding-left: 2.5rem; padding-right: 2.5rem;">
            </form>
        </div>

    </div>

</div>
    
</body>