<footer class="main mt-100">
    <section class="section-padding footer-mid">
        <div class="divider center_icon mt-50 mb-50"><i class="fi-rs-fingerprint"></i></div>
        <div class="container pt-15 pb-20">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="widget-about font-md mb-md-5 mb-lg-0">
                        <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                        <p class="wow fadeIn animated">
                            <strong>Address: </strong> Kannur Thaliparamba Road , Alakode, Kerala

                        </p>
                        <p class="wow fadeIn animated">
                            <strong>Phone: </strong>+91 920736328_
                        </p>
                        <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                        <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                            <a href="https://m.facebook.com/joel.babl"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                            <a href="twitter.com"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                            <a href="https://www.instagram.com/f.r.a.n.k.e.n.s.t.e.i.n.z/?igshid=ZDc4ODBmNjlmNQ%3D%3D&__coig_restricted=1"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                            <a href="pinterest.com"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                            <a href="https://www.youtube.com/channel/UCux1ZU_jBcRI5gjlz2TZcBw"><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-3">
                    <h5 class="widget-title wow fadeIn animated">About</h5>
                    <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Delivery Information</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Support Center</a></li>
                    </ul>
                </div>
                <div class="col-lg-4  col-md-3">
                    <h5 class="widget-title wow fadeIn animated">My Account</h5>
                    <ul class="footer-list wow fadeIn animated">
                        <li><a href="/viewcart">View Cart</a></li>
                        <li><a href="/wishlist-page">My Wishlist</a></li>
                        <li><a href="#">Track My Order</a></li>
                        <li><a href="/profile">Order</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="container pb-20 wow fadeIn animated">
        <div class="row">
            <div class="col-12 mb-20">
                <div class="footer-bottom"></div>
            </div>
            <div class="col-lg-6">
            </div>
            <div class="col-lg-6">
                <p class="text-lg-end text-start font-sm text-muted mb-0">
                    Designed by <a href="http://alithemes.com/" target="_blank">FasionFusion.com</a>. All rights
                    reserved
                </p>
            </div>
        </div>
    </div>
</footer>